<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head>
        <link rel="stylesheet" href="/css/style.css" />
        <title>AKIHABARA</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <br>
        <section th:replace="~{carrito/fragmentos :: checkout}"/>

        <footer th:replace="~{layout/plantilla :: footer}"/>

    </body>
</html>