<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Akihabara</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
       <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div th:fragment="verCarrito" th:unless="${#lists.isEmpty(listaItems)}">            
            <form action="/carrito/listado">
                <button
                    type="submit"
                    style="background-color: white; border: 0">
                    <i class="fas fa-bag-shopping"></i>
                    [[${listaTotal}]]
                </button>
            </form>
        </div>   

        <!-- 2 Sección principal para mostrar la informaccion de las productos -->
        <section sec:authorize="hasRole('ROLE_USER')" th:fragment="listadoProductosFiltrado" id="productos">
            <div class="row row-cols-3 mb-5" style="margin-right: 10px"> 
                <div class="card" th:each="p : ${productos}">
                    <figure><a th:href="@{/producto/vistaProductoDetalle/{idProducto}(idProducto=${p.idProducto})}"><img th:src="${p.rutaImagen}" 
                                                                                                                         class="card-img" alt="..."
                                                                                                                         width="50" height="300"/></a>
                    </figure>
                    <div class="card-body">

                        <h5 class="card-title">[[${p.nombre}]]</h5>
                        <p class="card-text">[['$'+${p.precio}]]</p> 
                    </div>
                </div>
        </section>
        
        
    <section th:fragment="listadoCarrito" id="items">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-9" style="border-right:1px solid; border-color: #cccccc">
                <div class="container d-flex justify-content-between">
                    <h4>Productos</h4>
                    <h4 style="text-align: end">SUBTOTAL</h4>
                </div>
                <hr>
                <div class="row row-cols-1 mb-5" style="margin-right: 10px"> 
                    <div class="card" th:each="p : ${items}">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <img th:src="@{${p.rutaImagen}}" height="200"/>
                                </div>
                                <div class="col-md-4">
                                    <h4 class="card-title">[[${p.nombre}]]</h4>
                                    <h5 class="card-text">[[${p.descripcion}]]</h5>
                                    <h5 class="card-text">[['$'+${p.precio}]]</h5>
                                    <h5 class="card-text">[['QTY:'+${p.cantidad}]]</h5>
                                </div>
                                <div class="col-md-5" style="text-align: end">
                                    <h3 class="card-title">[['$'+${p.cantidad*p.precio}]]</h3>
                                    <a th:href="@{/carrito/eliminar/{idProducto}(idProducto=${p.idProducto})}" class="btn">
                                        <i class='fas fa-trash'></i> Eliminar
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="text-center p-2" th:if="${items == null or items.empty}">
                            [[#{carrito.no_mostrar}]]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container d-flex"><h4>Carrito</h4></div>
                <hr>    
                <div class="container d-flex justify-content-between">
                    <p>SUBTOTAL</p>
                    <p style="text-align: end; font-weight: bold">[['$'+${carritoTotal}]]</p>
                </div>
                <hr>
                <div class="container d-flex justify-content-between">
                    <h2>TOTAL</h2>
                    <h2 style="text-align: end; font-weight: bold">[['$'+${carritoTotal}]]</h2>
                </div>
                <hr>
                <div class="card text-center bg-dark text-white mb-3">
                    <div class="card-body">
                        <a th:href="@{/carrito/checkout}" class="btn bg-dark text-white">
                            <i class='fas fa-fordward'></i> Finalizar Pago
                        </a>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <br>
</section>


        <section th:fragment="checkout" id="items">
             <div class="checkout-container">
                <div class="message">
                    <img src="/images/comprobado.png" alt="alt"/>
                    <h2 th:text="${mensajePagoExitoso}"></h2>
                </div>

                                                            
                <div class="details">
                    <h2>Información de la Compra</h2>
                    <p th:text="${direccionEntrega}"></p>

                    <table>
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${items}">
                                <td th:text="${item.descripcion}"></td>
                                <td th:text="${item.cantidad}"></td>
                                <td th:text="${item.precio}"></td>
                                <td th:text="${item.cantidad * item.precio}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>Total: <span th:text="${carritoTotal}"></span></h3>
                    <button class="btn-factura" onclick="window.print()">Imprimir Factura</button>
                </div>
            </div>
        </section>

                                                            </section>
                                                                                                    <section th:fragment="modificaItem">


                                                                                                        <div class="mt-5 container  justify-content-center">
                                                                                                            <div class="row mt-2 justify-content-center">
                                                                                                                <div class="col-md-3 "><h4>Producto</h4></div>
                                                                                                                <div class="col-md-3  text-end " >
                                                                                                                    <a th:href="@{/carrito/listado}" class="btn text-white bg-dark">
                                                                                                                        <i class='fas fa-reply'></i> Regresar</a>
                                                                                                                </div></div>
                                                                                                            <hr>
                                                                                                                <div class="card-body">
                                                                                                                    <div class="row justify-content-center">
                                                                                                                        <div class="col-md-3">
                                                                                                                            <h5 class="card-title">[[${item.nombre}]]</h5>
                                                                                                                            <p class="card-text">[[${item.descripcion}]]</p>
                                                                                                                            <figure><img th:src="@{${item.rutaImagen}}" height="200"/></figure>
                                                                                                                        </div>
                                                                                                                        <div class="col-md-3 justify-content-center">

                                                                                                                            <h6 class=" card-subtitle mb-2 text-muted ">
                                                                                                                                [['$'+${item.precio}+' ('+${item.existencias}+')']]</h6>
                                                                                                                            <br>
                                                                                                                                <form th:action="@{/carrito/guardar}"
                                                                                                                                      method="post"
                                                                                                                                      th:object="${item}" >
                                                                                                                                    <input type="hidden" name="idProducto" th:field="*{idProducto}"/>

                                                                                                                                    <label for="cantidad">Cantidad:</label>
                                                                                                                                    <input type="number" name="cantidad" th:field="*{cantidad}" 
                                                                                                                                           min='1' th:max="${item.existencias}"/>
                                                                                                                                    <br> <br>
                                                                                                                                            <button class="btn bg-dark text-white" type="submit" name="guardar">
                                                                                                                                                <i class='fas fa-save'></i> [[#{accion.actualizar}]]</button>
                                                                                                                                            <br><br>
                                                                                                                                                    <a th:href="@{/carrito/eliminar/}+${item.idProducto}"
                                                                                                                                                       class="btn bg-dark text-white">
                                                                                                                                                        <i class='fas fa-trash'></i> [[#{accion.eliminar}]]
                                                                                                                                                    </a>
                                                                                                                                                    </form>
                                                                                                                                                    </div>

                                                                                                                                                    </div>
                                                                                                                                                    </div>
                                                                                                                                                    </div>



                                                                                                                                                    </section>

                                                                                                                                                    <section th:fragment="orden">
                                                                                                                                                        <div class="container text-center mt-5 mb-5 justify-content-center">
                                                                                                                                                            <div class="justify-content-center">
                                                                                                                                                                <img class="text-center" src="https://cdn-icons-png.flaticon.com/512/5290/5290058.png" height="200px" width="200px" />
                                                                                                                                                                <h2>Tu orden ha sido enviada!</h2>
                                                                                                                                                                <h4>Muchas gracias por comprar en FAEJ</h4>
                                                                                                                                                                <br>
                                                                                                                                                                    <div class="row text-center">
                                                                                                                                                                        <div class="col">
                                                                                                                                                                            <a th:href="@{/index}"><button type="button" class="btn bg-white text-black" style="border: #cccccc solid"><b>IR A INICIO</b></button></a><!-- comment -->
                                                                                                                                                                            <a th:href="@{/pedidos/listado}"><button type="button" class="btn bg-dark text-white">VER ORDENES</button></a>
                                                                                                                                                                            <br>
                                                                                                                                                                        </div>
                                                                                                                                                                    </div>
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                    </section>
                                                                                                                                                    </body>

