<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Akihabara</title>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <header th:fragment="header" class="header">
            <img th:src="@{/images/Logo.png}" alt="Logo de Akihabara" class="logo">

            <section class="search-section">
                <div class="search-container">
                    <input type="text" id="search-input" class="search-input" placeholder="Buscar productos">
                        <button class="search-button">
                            <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
                        </button>
                </div>
            </section>
            <section class="profile-section">
                <button class="profile-button">
                    <i class="fa-solid fa-user fa-2xl"></i>
                </button>
                <button class="shopping-button">
                    <i class="fa-solid fa-cart-shopping fa-2xl"></i>
                </button>
            </section>
                
            <section>
                <a> </a>
            </section>
        </header>
        <footer th:fragment="footer" class="footer">
            <!-- Contenido del footer -->
        </footer>
    </body>
</html>
