<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <link rel="stylesheet" th:href="@{/css/style.css}" /> 
    </head>
    <body>



        <section th:replace="~{producto/fragmentos :: categoriasTabs}"></section>

        <!-- Incluir series populares -->
        <section th:replace="~{producto/fragmentos :: popularSeries}"></section>

        <!-- Incluir productos filtrados -->
        <section th:replace="~{producto/fragmentos :: listadoProductos}"></section>


    </body>
</html>