<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <section th:fragment="menuDashboard" id="categorias" class="vertical-menu">
            <button class="logout-button">
                <i class="fa-solid fa-sign-out-alt"></i> Cerrar Sesión
            </button>
            <div class="profile-section">
                <img src="/images/Perfil.png" alt="Foto de perfil" class="profile-pic">
            </div>
            <nav class="menu-options">
                <a href="#dashboard" class="menu-item">Dashboard</a>
                <a href="#content" class="menu-item">Contenido</a>
                <a href="#security" class="menu-item">Seguridad</a>
            </nav>
        </section>
        
        <!-- SECCION DEL SEGURIDAD -->    
        <section th:fragment="seguridadPanel" id="categorias" class="seguridad-panel panel">
            <div id="alertas-content">
                <h2>Alertas</h2>
                <div id="backups-content">
                                                        
                </div>
            </div>
            </div>
            <div class="box">
                <h2>Backups</h2>
                <div id="backups-content">
                                                        
                </div>
            </div>
            <div class="box">
                <h2>Usuarios y roles</h2>
                <div id="usuarios-roles-content">
                    
                </div>
            </div>
            </div>
        </section>
        
        
        <!-- SECCION DEL CONTENIDO -->
        
        
         <section th:fragment="contenidoPanel" id="contendio" class="contenido-panel panel">
            <div>PRUEBAS EDICION DE CONTENIDO </div> 
        </section>
        
        
        <!-- SECCION DEL DASHBOARD -->
        
        <section th:fragment="dataDashboard" id="data" class="data panel">

            <div class="container mt-5">
                <h1>Dashboard</h1>

                <div>
                    <h2>Ventas por Día</h2>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="venta : ${ventasPorDia}">
                                <td th:text="${venta.fechaVenta}"></td>
                                <td th:text="${venta.total}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <h2>Ventas por Mes</h2>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="venta : ${ventasPorMes}">
                                <td th:text="${venta.fechaVenta}"></td>
                                <td th:text="${venta.total}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <h2>Ventas por Año</h2>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="venta : ${ventasPorAnio}">
                                <td th:text="${venta.fechaVenta}"></td>
                                <td th:text="${venta.total}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    </body>
</html>
