

html, body {
    height: 100%;
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
}

 li{
    list-style-type: none; 
 }

body {
    display: flex;
    flex-direction: column;
}

header {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    margin: 0px 50px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
}

.logo{
    height: 150px;
    width: 150px;
}

button{
    background: none;
    border: none;      
}

.profile-section{
    display: flex;
    justify-content: flex-end;
    padding-right: 50%;
    height: 100%;
}

.search-input{
    height: 35px;
    background-color: #d6d6d6;
    border:none;
    padding: 0;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    height: 45px;
    padding-left: 20px;
}

.search-input::placeholder{
    color: white;
    font-size: 18px;
}

.search-button{
    background-color: #f9ba34;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
    height: 45px;
}

.search-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    border: none;
}

input:focus {
    outline: none;
}



/* SECCION DEL FOOTER */

footer {
    background-color: #343a40; 
    color: white; 
    text-align: center; 
    padding: 20px 0;
    margin-top: 40px;
}

footer .social-section {
    margin-bottom: 20px;
}

footer .social-section a {
    color: white;
    margin: 0 10px;
    border: 1px solid white;
    border-radius: 50%;
   
    padding: 10px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

footer .social-section a:hover {
    background-color: white;
    color: #343a40;
}

footer .legal-section {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

footer .legal-section li {
    display: inline;
    margin: 0 15px;
}

footer .legal-section a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

footer .legal-section a:hover {
    color: #adb5bd; 
}

footer div:last-child {
    font-size: 14px;
    margin-top: 10px;
}

/*SECCION DE LAS CATEGORIAS*/

.categories-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 20px 0;    

}

.categories-scroll {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.category {
    min-width: 350px;
    height: 400px;
    margin: 0 45px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     
}

.category-btn {
    padding: 10px 20px;
    border: none;
    background-color: rgba(234, 46, 68, 0.6);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.category-btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.title{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 34px;
    margin: 0;
}


/*SECCION DEL PANEL DE CONTROL*/

.perfil-img{
    width: 200px;
    height: 200px;
    margin: 30px
}
.panel-section{
    background-color: #f9ba34;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.panel-cerrar{
    color: white;
    font-size: 18px;
    
}
.panel-cerrar:hover{
    color: black;
}
.panel-menu-opciones{
    color:white;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
}
.panel-menu li{
    padding: 20px;
}