/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 15, 2024, 1:30:44 PM
    Author     : fabio
*/
body{
    margin: 0;
    padding:0;
    height: 100vh;
}
header {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: 50px;
    box-sizing: border-box; 
}
.logo{
    height: 150px;
    width: 150px;
}
button{
    background: none;
    border: none;      
}
.search-input{
    width: 80%;
    height: 30px;
}
.profile-section{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    
}
.search-container{
    background-color: #EEEDEB;
    border: none;
    border-radius: 10px;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}